@charset "UTF-8";

	#Write_modal{
		width:100%;
		text-align:center;
		margin:0 auto;
	}
	#contentForm{
		width:100%;
		height:600px;
		border:1px solid black;
		margin-top:5%;
		margin-bottom:5%;
		text-align:center;	
	}
	.write_tab{
		width:100%;
		height:100%;
		margin:0 auto;
	}
	#hash_input{
		float:left; 
		width:100px; 
		margin-right:10px;
	}
	#regist{
		float:left;
		padding-top:3px;
	}
	#hash{
		margin-right:10px;
		color:blue;
		font-weight:bold;
	}
	#upload{
		display:none;
	}
	#imgView{
		display:none;
	}